* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #e6e6fa;
  color: #000000;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.app-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  text-align: center;
}

h1 {
  color: #008000;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 1.4px solid #2f2f2f;
}

button {
  padding: 10px;
  background-color: #006400;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #008000;
}

#bookmark-list {
  list-style: none;
  padding: 0;
}

#bookmark-list li {
  background-color: #e6e6fa;
  padding: 10px;
  border: 1px solid #2f2f2f;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bookmark-list a {
  color: #008000;
  text-decoration: none;
}

#bookmark-list button {
  background-color: #dc143e;
  padding: 5px 10px;
}

#bookmark-list button:hover {
  background-color: #ea3e63;
}
